* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth !important;
  scroll-padding-top:150px
}

body {
  background: var(--fundo);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul {
  list-style: none;
}

span {
  display: inline-block;
}
