/* Global */
@import "../Estilos/global/global.css";

/* Utilitarios */
@import "../Estilos/utilitarios/componentes.css";
@import "../Estilos/utilitarios/tipografia.css";
@import "../Estilos/utilitarios/cores.css";

/* landingPage */
@import "../Estilos/landingPage/header.css";
@import "../Estilos/landingPage/headerMobile.css";
@import "../Estilos/landingPage/main.css";
@import "../Estilos/landingPage/projetos.css";
@import "../Estilos/landingPage/sobremim.css";
@import "../Estilos/landingPage/certificados.css";
@import "../Estilos/landingPage/tecnologias.css";
@import "../Estilos/landingPage/tablet.css";
@import "../Estilos/landingPage/footer.css";
