.experiencia-about {
  grid-column: 1/-1;
  position: relative;
  z-index: 1;
}

.experiencia-about::before {
  content: "";
  position: absolute;
  width: 3px;
  top: 0;
  bottom: 50px;
  background: var(--cor-p1);
  left: 50%;
  transform: translateX(-50%);
}

.cursos-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 100px;
}

.curso-card {
  width: 500px;
  height: 350px;
  padding: 10px;
  background: #111;
  border-radius: 15px;
  position: relative;
  transition: 0.3s;
  border: 1px solid transparent;
  z-index: 1;
}

.curso-card:hover {
  border: var(--cor-p1) solid 1px;
  box-shadow:
    0rem 6px 13px rgba(10, 60, 255, 0.1),
    0rem 24px 24px rgba(10, 60, 255, 0.09),
    0rem 55px 33px rgba(10, 60, 255, 0.05),
    0rem 97px 39px rgba(10, 60, 255, 0.01),
    0rem 152px 43px rgba(10, 60, 255, 0);
}

.curso-card span:first-child {
  font-size: 14px;
  color: #d3d3d3;
}

.curso-card h2 {
  color: var(--cor-p1);
  margin-bottom: 20px;
  font-size: 32px;
}

.curso-card h3 {
  margin-top: 20px;
  font-weight: 500;
}

.curso-card ul {
  margin-top: 20px;
}

.curso-card span:nth-child(n + 2) {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
}

.curso-card span svg {
  fill: var(--cor-1);
  width: 30px;
  height: 30px;
}

@media (max-width: 1050px) {
  .cursos-content {
    grid-template-columns: 1fr;
    gap: 100px;
  }
  .cursos-content span {
    display: none;
  }
  .experiencia-about::before {
    height: 3px;
    top: 50%;
    width: 100%;
    left: 0;
    transform: translateY(-50%);
  }
}

@media (max-width: 1200px) {
  .curso-card {
    height: 315px;
    width: 450px;
  }
  .curso-card h2 {
    margin-bottom: 5px;
  }

  .curso-card ul {
    margin-top: 5px;
  }
}

.dots-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  height: auto;
}

.tag-html {
  position: relative;
  display: inline-block;
  font-family: "Fira Code", monospace;
  font-weight: 600;
  font-size: 184px;
  color: transparent;
  opacity: 0.08;
  background: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    rgba(100, 150, 255, 0.6),
    transparent 70%
  );
  -webkit-background-clip: text;
  background-clip: text;
  transition: opacity 0.3s ease;
  cursor: pointer;
  transform: rotate(160deg);
}

.tag-html::before {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  transform: rotate(160deg);
}
