header {
  position: sticky;
  top: 0;
  padding: 20px;
  margin: 0 auto;
  transition: all 0.4s ease;
  z-index: 999;
}

.header {
  margin: 0 auto;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 40px;
  transition: all 0.4s ease;
  z-index: 999;
}

body::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(0, 153, 255, 0.2), transparent 70%);
  top: -100px;
  left: -150px;
  filter: blur(80px);
  z-index: -2;
}

@media (max-width: 768px) {
  body::before {
    display: none;
  }
}

.desaparece-header {
  transform: scaleX(0.95);
  backdrop-filter: blur(20px);
}

.header-list {
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 50px;
  font-size: 18px;
}

.linguagem-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.linguagem-container > svg {
  max-width: 48px;
}

.linguagem {
  position: relative;
}

.trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 1px solid var(--cor-1);
  border-radius: 25px;
  padding: 4px 10px;
  z-index: 1000;
}

.trigger:hover {
  transform: scale(1.1);
}

.list-idiomas {
  display: grid;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  gap: 5px;
  transition: 0.3s;
  transform: scaleY(0);
  transform-origin: top;
  background-color: var(--cor-1);
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 750px) {
  .list-idiomas {
    left: 0;
    right: initial;
  }
}

.item-idiomas {
  padding: 0px 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  padding: 5px;
  position: relative;
  border-radius: 5px;
  padding-right: 13px;
  cursor: pointer;
}

.item-idiomas:hover {
  background: var(--cor-p1);
  color: var(--cor-1);
}

.item-idiomas::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 3px;
  display: block;
  background: var(--cor-p1);
  right: 0px;
}

.check-idioma {
  height: 100%;
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
}

.check-idioma:checked ~ .list-idiomas {
  margin-top: initial;
  opacity: 1;
  height: initial;
  transform: scaleY(1);
}

.check-idioma:checked + .trigger .seta {
  transform: rotate(180deg);
}
.check-idioma {
  display: none;
}

.seta {
  fill: var(--cor-1);
  transition: 0.3s;
}

.active-link,
.header-item:hover {
  color: var(--cor-p1);
}

.active-link,
.header-item {
  position: relative;
  display: flex;
  transition: 0.3s;
  justify-content: center;
}

.active-link::after,
.header-item::after {
  content: "";
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: var(--cor-p1);
  display: block;
  position: absolute;
  transition: 0.3s;
}

.active-link::after,
.header-item:hover::after {
  width: 100%;
}

#tema,
#temaMobile {
  transition: 0.3s;
  cursor: pointer;
}

#tema:hover,
#temaMobile:hover {
  scale: 1.1;
}

body.light #tema,
body.light #temaMobile {
  transform: rotate(180deg);
}

.header-item a {
  width: max-content;
}

@media (max-width: 1000px) {
  .header-list {
    gap: 20px;
  }
  header > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 850px) {
  .header-item {
    font-size: 0.9rem;
  }
  header div > svg {
    max-width: 40px;
  }
  .trigger {
    font-size: 0.9rem;
    padding: 4px 8px;
  }
  .seta {
    max-width: 15px;
  }

  .logo {
    font-size: 1.6rem;
  }
}

@media (max-width: 750px) {
  .header-list,
  .linguagem-container {
    display: none;
  }
  .header {
    background: var(--cor-p2);
    padding: 5px 30px;
  }
}
