main {
  overflow: hidden;
  height: 88vh;
}

.main-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  justify-items: center;
}

.image {
  max-width: 610px;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-direita {
  padding: 20px;
  justify-self: start;
}

.main-text {
  justify-self: start;
  line-height: 1;
  padding-top: 20vh;
  margin-bottom: 40px;
}

.main-text span {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.main-text h2 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
}

.main-text h1 {
  font-size: 3.825rem;
}

.main-text .title-full {
  font-size: 4.25rem;
  display: inline-block;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-left: 15px;
  animation: escrita steps(1) 1s infinite;
  position: relative;
}

.title-full::before {
  content: "Full-stack";
  animation: back 10s infinite;
  height: 100%;
  background: 100%;
}

.baixoMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  max-width: 630px;
}

.redesMain {
  display: flex;
  gap: 20px;
}

.redesMain img {
  transition: 0.2s;
}

.redesMain img:hover {
  scale: 1.2;
}

.btn-baixo {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.btn-baixo svg {
  max-width: 35px;
  fill: var(--cor-1);
  position: absolute;
  transition: 0.2s;
  left: 15px;
  opacity: 0;
  background: var(--cor-p1);
  border-radius: 50%;
  padding: 05px;
  transform: scale(0);
  margin-left: -100px;
}

.btn-baixo:hover {
  background: var(--cor-1);
  color: var(--cor-p1);
  width: 235px;
  justify-content: end;
}

.btn-baixo:hover svg {
  margin-right: 120px;
  opacity: 1;
  transform: scale(1);
  margin-left: 0px;
}

@keyframes escrita {
  0%,
  50%,
  100% {
    border-right: 2px solid transparent;
  }
  25%,
  75% {
    border-right: 2px solid var(--cor-p1);
  }
}

@keyframes back {
  0%,
  20% {
    content: "Back-end";
  }
  41%,
  60% {
    content: "Front-end";
  }
}
