.main-bg {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-items: center;
}

main::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(0, 153, 255, 0.2), transparent 70%);
  bottom: -80px;
  right: 0px;
  filter: blur(80px);
  z-index: -1;
}

.esquerda-main {
  padding-top: 10vh;
}

.main-direita {
  justify-self: start;
  display: grid;
}

.main-text {
  justify-self: start;
  line-height: 1;
  padding-top: 15vh;
}

.main-text span {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.main-text h2 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
}

.main-text h1 {
  font-size: 3.825rem;
}

.title-full {
  font-size: 4.1rem;
  display: inline-block;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-left: 15px;
  animation: escrita steps(1) 1s infinite;
  position: relative;
  z-index: -1;
}

.title-full::before {
  content: "Front-end";
  animation: back 10s infinite;
  height: 100%;
  background: 100%;
  background: linear-gradient(90deg, var(--cor-p1), #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.baixoMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 630px;
}

.redesMain {
  display: flex;
  gap: 20px;
}

.redesMain img {
  transition: 0.2s;
}

.redesMain img:hover {
  scale: 1.2;
}

.main-direita {
  width: 680px;
}

.section-seta {
  display: flex;
  justify-content: center;
}

.seta-proxima {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--cor-p1);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 1.5s infinite;
}

.seta-proxima svg {
  height: 40px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
}

@keyframes escrita {
  0%,
  50%,
  100% {
    border-right: 2px solid transparent;
  }
  25%,
  75% {
    border-right: 2px solid var(--cor-p1);
  }
}

@keyframes back {
  0%,
  20% {
    content: "Mobile";
  }
  41%,
  60% {
    content: "Designer";
  }
}

@media (max-width: 1150px) {
  .esquerda-main {
    padding-top: 15vh;
  }

  .my-loader {
    scale: 1;
  }
  .main-content {
    gap: 0px;
  }
  .main-text {
    padding-top: 22vh;
  }
  .main-direita {
    justify-content: center;
    width: max-content;
  }
  .baixoMain {
    width: 545px;
  }
}

@media (max-width: 900px) {
  .esquerda-main {
    padding-top: 0vh;
  }
  .seta-proxima {
    bottom: 0;
  }
  .my-loader {
    scale: 0.8;
  }
  .main-content {
    grid-template-columns: 1fr;
  }
  .image {
    max-width: 300px;
    min-height: initial;
  }
  .main-direita {
    justify-self: center;
  }
  .main-text {
    padding-top: 0px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .main-content {
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    grid-template-rows: auto auto;
  }
  .main-text h2 {
    display: none;
  }
  .main-text h3 {
    margin-left: 0;
  }
  .redesMain {
    display: none;
  }
  .main-direita {
    justify-content: center;
  }
  .baixoMain {
    width: auto;
    margin-top: 30px;
    justify-content: center;
  }

  .my-loader {
    scale: 0.7;
  }
}

@media (max-height: 820px) {
  .main-bg {
    justify-content: space-between;
  }
  .section-seta {
    margin-bottom: 50px;
  }
  .esquerda-main {
    height: 350px;
  }
}

@media (max-height: 750px) {
  .main-bg {
    justify-content: space-between;
  }
  .section-seta {
    margin-bottom: 50px;
  }
  .esquerda-main {
    height: 300px;
    display: flex;
    align-items: center;
  }
  .baixoMain {
    margin-top: 15px;
  }
}
