.projetos-content {
  margin-top: 100px;
}

.projetos-bg {
  position: relative;
}

.projetos-bg::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(0, 153, 255, 0.2), transparent 70%);
  top: -150px;
  left: -100px;
  filter: blur(80px);
  z-index: -2;
}

@media (max-width: 768px) {
  .projetos-bg::before {
    display: none;
  }
}

.projetos-bg::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(0, 153, 255, 0.2), transparent 70%);
  bottom: 0px;
  right: 0px;
  filter: blur(80px);
  z-index: -2;
}

.descricao-projetos h2 {
  margin-bottom: 10px;
}

/* Carrossel */

.carrossel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
  padding: 20px;
}

@media (max-width: 550px) {
  .carrossel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    padding: 10px;
  }
}

.linguagens-lst {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.linguagens-lst div {
  background: var(--cor-p1);
  padding: 5px 10px;
  border-radius: 5px;
}

@media (max-width: 550px) {
  .linguagens-lst div {
    font-size: 0.8rem;
  }
}


.carrossel {
  display: flex;
  gap: 20px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: transform 0.3s ease;
}

.carrossel li {
  min-width: 300px;
  flex-shrink: 0;
  border-radius: 10px;
  opacity: 0.5;
  transform: scale(0.9);
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

@media (max-width: 500px) {
  .carrossel li {
    min-width: 100%;
    width: 100%;
  }
}

.carrossel li::before {
  content: "";
  display: grid;
  position: absolute;
  width: 180px;
  height: 180px;
  top: -80px;
  right: -80px;
  background:
    url(../../imagens/icons/eye-svgrepo-com.svg) no-repeat 20% 78%/25%,
    linear-gradient(360deg, var(--cor-p1), #00c6ff);
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
}

.carrossel li.ativo-carrossel:hover::before {
  opacity: 1;
}

@media (max-width: 1050px) {
  .carrossel li.ativo-carrossel::before {
    opacity: 1;
  }
}

.carrossel li img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.carrossel li.ativo-carrossel {
  opacity: 1;
  transform: scale(1);
}

.descricao-projetos {
  transform: translateY(-90px);
  opacity: 0;
  transition: 0.3s;
}

.carrossel li.ativo-carrossel .descricao-projetos {
  transform: translateY(0px);
  opacity: 1;
}

.btn-seta {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
  z-index: 9;
  right: 10px;
  top: 210px;
  background: linear-gradient(90deg, var(--cor-p1), #00c6ff);
  font-weight: 600;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-seta:first-child {
  left: 10px;
}

.btn-seta:hover {
  transform: scale(1.1);
  color: var(--cor-1);
}

.btn-seta svg {
  stroke: aliceblue;
  width: 30px;
}

.img-carrosel {
  position: relative;
  border-radius: 10px;
  z-index: 2;
  transition: 0.3s;
}

.projects-modal {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.projects-modal.ativo-modal {
  display: flex;
  animation: fadeIn 0.4s ease forwards;
}

.projects-modal-content {
  opacity: 0;
  transform: scale(0.9);
  animation: zoomIn 0.4s ease forwards;
  animation-delay: 0.1s;
}

@keyframes fadeIn {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.8);
  }
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.projects-modal-content {
  display: grid;
  background: var(--cor-2);
  width: 60%;
  border: 1px solid var(--cor-p1);
  border-radius: 5px;
  padding: 20px;
}

.projects-modal-cima {
  justify-self: right;
  align-self: safe;
}

.projects-modal-cima span {
  color: var(--cor-1);
  cursor: pointer;
  transition: 0.3s;
  font-size: 2rem;
}

.projects-modal-cima span:hover {
  transform: scale(1.1);
}

.carrossel-content {
  width: 605px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
}

.projects-modal-content ul {
  display: flex;
  width: 500%;
  animation: carrossel-modal 20s linear infinite;
}

.projects-modal-content ul li {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
  height: 300px;
}

@keyframes carrossel-modal {
  0% {
    transform: translateX(0);
  }
  16% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-100%);
  }
  36% {
    transform: translateX(-100%);
  }

  40% {
    transform: translateX(-200%);
  }
  56% {
    transform: translateX(-200%);
  }

  60% {
    transform: translateX(-300%);
  }
  76% {
    transform: translateX(-300%);
  }

  80% {
    transform: translateX(-400%);
  }
  96% {
    transform: translateX(-400%);
  }

  100% {
    transform: translateX(0);
  }
}

.projects-modal-content > p {
  color: var(--cor-1);
  max-width: 80ch;
  margin-top: 20px;
  justify-self: center;
}

.btns-modal {
  display: flex;
  justify-self: right;
  gap: 10px;
  margin-top: 40px;
}

.btns-modal a {
  border-radius: 10px;
  transition: 0.3s;
}

.modal-btn-projeto {
  background: linear-gradient(90deg, var(--cor-p1), #00c6ff);
  color: var(--cor-1);
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal-btn-projeto svg {
  max-width: 30px;
  height: 30px;
  fill: var(--cor-1);
  transition: 0.3s;
}

.modal-btn-projeto:hover {
  background: var(--cor-1);
  color: var(--cor-2);
}

.modal-btn-projeto:hover svg {
  fill: var(--cor-2);
}

.modal-btn-codigo {
  background: linear-gradient(90deg, var(--cor-p1), #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal-btn-codigo:hover {
  transform: scale(1.05);
}

.modal-btn-codigo svg {
  max-width: 30px;
  height: 30px;
}

@media (max-width: 1100px) {
  .projects-modal-content {
    width: 90%;
  }
}

@media (max-width: 670px) {
  .carrossel li {
    flex-shrink: 0.06;
  }
  .projetos-content {
    margin-top: 50px;
  }
  .carrossel-content {
    width: 100%;
    height: 100%;
  }
  .btn-seta {
    width: 40px;
    height: 40px;
    top: 160px;
  }
  .carrossel li::before {
    width: 150px;
    height: 150px;
    top: -75px;
    right: -75px;
  }
  .projects-modal-content ul li {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    justify-content: center;
  }
  .projects-modal-content ul li img {
    width: 350px;
  }
}

@media (max-width: 535px) {
  .carrossel li {
    flex-shrink: 0.1;
  }
  .btn-seta {
    top: 120px;
  }
  .carrossel li::before {
    width: 120px;
    height: 120px;
    top: -60px;
    right: -60px;
  }
}

@media (max-width: 400px) {
  .carrossel li {
    flex-shrink: 0.15;
  }
  .btn-seta {
    top: 100px;
  }
  .carrossel li::before {
    width: 100px;
    height: 100px;
    top: -50px;
    right: -50px;
  }
}
