.projetos-content {
  min-height: 100vh;
  margin-top: 100px;
}

.descricao-projetos h2 {
  margin-bottom: 10px;
}

/* Carrossel */

.carrossel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
  padding: 20px;
}

.linguagens-lst {
  display: flex;
  gap: 20px;
}

.linguagens-lst div {
  background: var(--cor-p1);
  padding: 5px 10px;
  border-radius: 5px;
}

.carrossel {
  display: flex;
  gap: 20px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: transform 0.3s ease;
}

.carrossel li {
  min-width: 300px;
  flex-shrink: 0;
  border-radius: 10px;
  opacity: 0.5;
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.carrossel li img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.carrossel li.ativo-carrossel {
  opacity: 1;
  transform: scale(1);
}

.btn-seta {
  background: none;
  border: 2px solid var(--cor-p1);
  color: var(--cor-p1);
  font-size: 1.5rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  z-index: 9;
  right: 10px;
  top: 210px;
}
.btn-seta:first-child {
  left: 10px;
}

.btn-seta:hover {
  background: var(--cor-p1);
  color: var(--cor-0);
}
