.about-bg {
  min-height: 100vh;
  margin-top: 100px;
  padding: 0 20px;
}

.about-bg h1 {
  margin-bottom: 20px;
}

@media (max-width: 550px) {
  .about-bg {
    padding: 0 10px;
  }

  .about-bg h1 {
    margin-bottom: 5px;
  }
}
.about-esquerda {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.about-esquerda img {
  background-color: var(--cor-1);
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.about-esquerda::after,
.about-esquerda::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background-image: conic-gradient(
    from 0deg,
    transparent 75%,
    var(--cor-p1),
    transparent 90%
  );
  z-index: -1;
  animation: 5s gira linear infinite;
}
.about-esquerda::before {
  background-image: conic-gradient(
    from 180deg,
    transparent 75%,
    var(--cor-p1),
    transparent 90%
  );
}

.about-direita {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.about-direita p {
  font-size: 1.4rem;
  color: var(--cor-1);
  z-index: 1;
}

@media (max-width: 1050px) {
  .about-direita p {
    font-size: 1.2rem;
  }
}

@media (max-width: 550px) {
  .about-direita p {
    font-size: 1rem;
  }
}


.card h1 {
  z-index: 1;
  grid-row: 1;
  grid-column: 1/-1;
}

.content h1 {
  grid-row: 1/-1;
}
