.about-bg {
  min-height: 100vh;
  margin-top: 100px;
}

.about-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 50px;
}

.about-esquerda {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}

.about-esquerda img {
  background-color: var(--cor-1);
  max-width: 96%;
  height: 96%;
  border-radius: 10px;
}

.about-esquerda::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background-image: conic-gradient(var(--cor-p1) 20deg, transparent 100deg);
  z-index: -1;
  animation: 10s gira linear infinite;
}

@keyframes gira {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.about-direita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}

.about-direita p {
  font-size: 1.4rem;
  color: var(--cor-1);
}
