.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 550px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.btn {
  padding: 15px;
  background: var(--cor-p1);
  border-radius: 25px;
  font-size: 1.25rem;
  font-weight: bold;
}

.btn-baixo {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  height: 50px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, var(--cor-p1), #00c6ff);
  box-shadow: 0 0 20px rgba(0, 198, 255, 0.3);
}

.btn-baixo svg {
  max-width: 35px;
  fill: var(--cor-1);
  position: absolute;
  transition: 0.2s;
  left: 15px;
  opacity: 0;
  background: var(--cor-p1);
  border-radius: 50%;
  padding: 05px;
  transform: scale(0);
  margin-left: -100px;
}

.btn-baixo:hover {
  background: var(--cor-1);
  color: var(--cor-p1);
  width: 235px;
  justify-content: end;
}

.btn-baixo:hover svg {
  margin-right: 120px;
  opacity: 1;
  transform: scale(1);
  margin-left: 0px;
}

.btn-normal {
  padding: 15px;
  background: var(--gradiente);
  border-radius: 25px;
  transition: 0.3s;
  z-index: 1;
}

@media (max-width: 1000px) {
  .btn-normal {
    padding: 10px;
  }
}

.btn-normal:hover {
  background: var(--cor-1);
  color: var(--cor-p1);
}

@media (max-width: 500px) {
  .btn.btn-baixo {
    width: 170px;
    height: 45px;
    font-size: 1rem;
  }
  .btn.btn-baixo:hover {
    width: 200px;
  }
  .btn-baixo svg {
    max-width: 30px;
  }
  .modal-btn-codigo {
    font-size: 1rem;
  }
  .modal-btn-projeto {
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
  .modal-btn-codigo {
    font-size: 0.7rem;
  }
  .modal-btn-projeto {
    font-size: 0.7rem;
  }
}

/* Uiverse */

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding: 34px;
  border-radius: 22px;
  color: #000;
  overflow: hidden;
  background: #000;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
}

@media (max-width: 1050px) {
  .content {
    grid-template-columns: 1fr;
  }
}

.card::before {
  content: "";
  position: absolute;
  height: 450%;
  width: 160%;
  border-radius: inherit;
  background: var(--cor-2);
  transform-origin: center;
  animation: moving 4.8s linear infinite paused;
  transition: all 0.88s cubic-bezier(0.23, 1, 0.32, 1);
  background: var(--cor-2);
}

.card:hover::before {
  animation-play-state: running;
  z-index: -1;
  width: 20%;
  background: var(--gradiente);
}

.card:hover {
  box-shadow:
    0rem 6px 13px rgba(10, 60, 255, 0.1),
    0rem 24px 24px rgba(10, 60, 255, 0.09),
    0rem 55px 33px rgba(10, 60, 255, 0.05),
    0rem 97px 39px rgba(10, 60, 255, 0.01),
    0rem 152px 43px rgba(10, 60, 255, 0);
  color: #000000;
}

@keyframes moving {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1050px) {
  .card::before {
    animation-play-state: running;
    z-index: -1;
    width: 20%;
    background: var(--gradiente);
  }
}

@media (max-width: 550px) {
  .card::before {
    display: none;
  }

  .card {
    box-shadow:
      0rem 6px 13px rgba(10, 60, 255, 0.1),
      0rem 24px 24px rgba(10, 60, 255, 0.09),
      0rem 55px 33px rgba(10, 60, 255, 0.05),
      0rem 97px 39px rgba(10, 60, 255, 0.01),
      0rem 152px 43px rgba(10, 60, 255, 0);
    color: #000000;
  }
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

@media (max-width: 700px) {
  .dot {
    height: 15px;
    width: 15px;
  }
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

/* From Uiverse.io by lukepadiachy */
.my-loader {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 100px auto;
  scale: 1.2;
}

.rubiks-cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: my-rotateCube 5s infinite linear;
}


.my-loader .face-cube {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.my-loader .face-cube.front-cube {
  transform: translateZ(100px);
}
.my-loader .face-cube.back {
  transform: rotateY(180deg) translateZ(100px);
}
.my-loader .face-cube.left {
  transform: rotateY(-90deg) translateZ(100px);
}
.my-loader .face-cube.right {
  transform: rotateY(90deg) translateZ(100px);
}
.my-loader .face-cube.top {
  transform: rotateX(90deg) translateZ(100px);
}
.my-loader .face-cube.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.my-loader .cube {
  width: calc(100% / 3);
  height: calc(100% / 3);
  box-sizing: border-box;
  border: 1px solid #000;
}

.azul1 {
  background: #2563eb;
  -webkit-box-shadow: 0px 0px 36px 17px rgba(37, 100, 235, 0.11);
  -moz-box-shadow: 0px 0px 36px 17px rgba(37, 100, 235, 0.11);
  box-shadow: 0px 0px 36px 17px rgba(37, 100, 235, 0.11);
}
.azul2 {
  background: #3b82f6;
  -webkit-box-shadow: 0px 0px 36px 17px rgba(59, 131, 246, 0.11);
  -moz-box-shadow: 0px 0px 36px 17px rgba(59, 131, 246, 0.11);
  box-shadow: 0px 0px 36px 17px rgba(59, 131, 246, 0.11);
}
.azul3 {
  background: #1e3a8a;
  -webkit-box-shadow: 0px 0px 36px 17px rgba(30, 59, 138, 0.11);
  -moz-box-shadow: 0px 0px 36px 17px rgba(30, 59, 138, 0.11);
  box-shadow: 0px 0px 36px 17px rgba(30, 59, 138, 0.11);
}
.azul4 {
  background: #60a5fa;
  -webkit-box-shadow: 0px 0px 36px 17px rgba(96, 165, 250, 0.11);
  -moz-box-shadow: 0px 0px 36px 17px rgba(96, 165, 250, 0.11);
  box-shadow: 0px 0px 36px 17px rgba(96, 165, 250, 0.11);
}
.branco {
  background: #a2ccff;
}

@keyframes spinOrbit {
  from {
    transform: rotateX(70deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(70deg) rotateZ(360deg);
  }
}

.cube {
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.6);
}

@keyframes my-rotateCube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
