body {
  --cor-1: #fff;
  --cor-2: #000;
  --cor-p1: #4b6bb7;
  --cor-p2: #111111;
  --gradiente: linear-gradient(90deg, var(--cor-p1), #00c6ff);
  --fundo: radial-gradient(circle at 30% 20%, #0a0f1c, #030712);
}

.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}

.cor-svg-p1 {
  fill: var(--cor-p1);
}

.cor-svg-1 {
  fill: var(--cor-1);
}
.cor-svg-2 {
  fill: var(--cor-2);
}
