body {
  --cor-1: #fff;
  --cor-2: #000;
  --cor-p1: #4b6bb7;
  --cor-p2: #111111;
  --cor-cinza: #a3a3a3;
  --sombra-forte: rgba(0, 0, 0, 0.15);
  --sombra-suave: rgba(0, 0, 0, 0.06);
  --gradiente: linear-gradient(90deg, var(--cor-p1), #00c6ff);
  --fundo: radial-gradient(circle at 30% 20%, #0a0f1c, #030712);

  --vidro-fundo: rgba(255, 255, 255, 0.15);
  --vidro-borda: rgba(255, 255, 255, 0.25);
  --vidro-blur: blur(12px) saturate(160%);
}

.cor-1 {
  color: var(--cor-1);
}

.cor-p1 {
  color: var(--cor-p1);
}

