.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4rem;
}

.paragrafo {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.logo {
  font-size: 1.75rem;
  font-weight: bold;
}

@media (max-width: 1150px) {
  body .main-text h1 {
    font-size: 2.8rem;
  }
  .main-text .title-full {
    font-size: 3rem;
  }
}

@media (max-width: 850px) {
  .header-item {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  body .main-text h1 {
    font-size: 2.2rem;
  }
  .main-text .title-full {
    font-size: 2.4rem;
  }
}
