.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4rem;
}

.paragrafo {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.logo {
  font-size: 1.75rem;
  font-weight: bold;
}

.projects-modal-cima p {
  font-size: 42px;
  line-height: 22px;
}

@media (max-width: 1150px) {
  body .main-text h1 {
    font-size: 2.8rem;
  }
  .title {
    font-size: 3rem;
  }
  .main-text .title-full {
    font-size: 3rem;
  }
  .projects-modal-content>p {
    font-size: 1rem;
  }
}

@media (max-width: 850px) {
  .header-item {
    font-size: 1rem;
  }
  .projects-modal-content>p {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  body .main-text h1 {
    font-size: 2.4rem;
  }
  .main-text .title-full {
    font-size: 2.6rem;
  }
  .title {
    font-size: 2.6rem;
  }
}

@media (max-width: 400px) {
  body .main-text h1 {
    font-size: 2.2rem;
  }
  .main-text .title-full {
    font-size: 2.4rem;
  }
}
