.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4rem;
}

.paragrafo {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.logo {
  font-size: 1.75rem;
  font-weight: bold;
}

.projects-modal-cima p {
  font-size: 42px;
  line-height: 22px;
}

.footer-content a {
  font-size: 1.6rem;
  font-weight: 800;
}

.footer-titulo {
  font-size: 0.8rem;
  color: #b4b8b5;
}


@media (max-width: 700px) {
  .footer-titulo {
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  .footer-titulo {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .footer-titulo {
    font-size: 0.8rem;
    color: #b4b8b5;
  }
}

@media (max-width: 1150px) {
  body .main-text h1 {
    font-size: 2.8rem;
  }
  .title {
    font-size: 3rem;
  }
  .main-text .title-full {
    font-size: 3rem;
  }
  .projects-modal-content > p {
    font-size: 1rem;
  }
}

@media (max-width: 850px) {
  .header-item {
    font-size: 1rem;
  }
  .projects-modal-content > p {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  body .main-text h1 {
    font-size: 2.4rem;
  }
  .main-text .title-full {
    font-size: 2.6rem;
  }
  .title {
    font-size: 2.6rem;
  }
}
.title-footer {
  font-size: 3rem;
  text-transform: uppercase;
}

@media (max-width: 1700px) {
  .title-footer {
    font-size: 2.6rem;
  }
}

@media (max-width: 1600px) {
  .title-footer {
    font-size: 2.4rem;
  }
}

@media (max-width: 1300px) {
  .title-footer {
    font-size: 2.3rem;
  }
}

@media (max-width: 1150px) {
  .title-footer {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  .title-footer {
    font-size: 1.8rem;
  }
}

@media (max-width: 900px) {
  .title-footer {
    font-size: 1.6rem;
  }
}
@media (max-width: 800px) {
  .title-footer {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .title-footer {
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  .title-footer {
    font-size: 1.1rem;
  }
}

@media (max-width: 550px) {
  .title-footer {
    font-size: 1.8rem;
  }
}

@media (max-width: 490px) {
  .title-footer {
    font-size: 1.4rem;
  }
}

@media (max-width: 400px) {
  .title-footer {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  body .main-text h1 {
    font-size: 2.2rem;
  }
  .main-text .title-full {
    font-size: 2.4rem;
  }
}
